.babyName {
    border: 2px solid red;
}

.babyName.male{
    background: green;
    margin: 0.2rem;
    padding: 0.2rem;
}

.babyName.female{
    background: skyblue;
}

.babyNameList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}