#root {
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.353),  
    rgba(246, 255, 123, 0.431),
    rgba(0, 255, 255, 0.371)183, 255, 255);
  max-width: 1280px auto;
  margin: 100px;
  padding: 2rem;
  text-align: center;
  font-family: Bookman;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  box-shadow: 
  0 0 60px 30px rgba(255, 255, 255, 0.52),  /* inner white */
  0 0 100px 60px rgba(246, 255, 123), /* middle magenta */
  0 0 140px 90px rgba(0, 255, 255); /* outer cyan */
}

button {

    background: transparent;
    border: none !important;
}

@keyframes example {
    0%   {background-color:rgba(78, 62, 157, 0.847); left:0px; top:0px; border: 5px solid #000000;}
    50%  {background-color:rgb(25, 105, 91); left:200px; top:200px; border: 7px solid #ffffff;}
    100%  {background-color:rgb(158, 176, 78); left:0px; top:200px; border: 3px solid #000000;}
    }

input{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0.2rem;
    padding: 0.2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Bookman;
    font-size: 24px;
    background-color:rgba(0, 30, 255, 0.611);
    border: 1px solid #0009e8;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.babyName {
  border: 1px solid #0009e8;
  background: linear-gradient(rgba(199, 255, 86, 0.387),rgb(128, 128, 255));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0.2rem;
  padding: 0.2rem;
  width:fit-content;
  height:fit-content;
}

.babyName.male {
  background: repeating-linear-gradient(
    to bottom right,
    rgba(226, 3, 3, 0.611),
    rgba(49, 137, 43, 0.668)
  );
}

.babyName.female {
  background: repeating-linear-gradient(
    to bottom right,
    rgba(150, 35, 110, 0.611),
    rgba(58, 183, 185, 0.668)
  );
}

.babyNameBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
